
.footerIcon-wrapper
    .footer__icon
        img(src="../../학생.png", alt="")
        .menu
            span Menu
            a.none(href="/")
                span Home 
            a.none(href="/chat")
                span chat
