extends layouts/main.pug

block content
    if !loggedUser
        h1 You should Login 
    else
        .chat
            .chatUser
                .chatUser__title   Users In ChatRoom
                    ul
            .chatBox
                .chatBox__content
                    ul
                form.chatForm
                    input(placeholder="Write a message" , type="text")