extends layouts/main.pug
include mixins/postBlock


block content
    .home-post
        each post in postes
            +postBlock({
                name:post.name,
                title:post.title,
                description:post.description,
                id:post.id
            })