mixin postBlock(post = {})
    .postBlock
        a(href=routes.postDetail(post.id))
            .postWrapper
                .postWrapper__name=post.name
                .postWrapper__title=post.title
                