mixin postBlock(post = {})
    .postBlock
        .postWrapper
            span.postWrapper__name
                a(href=routes.postDetail(post.id))=post.name 
            span.postWrapper__title
                a(href=routes.postDetail(post.id))=post.title 
