mixin postBlock(post = {})
    .postBlock
        .postWrapper
            span.postWrapper__name
                a(href=routes.userDetail(post.user))=post.name 
            span.postWrapper__title
                a(href=routes.postDetail(post.id))=post.title 
            span.postWrapper__time
                a(href=routes.postDetail(post.id))=post.time    
