.board-container {
  background-color: $boardColor;
  border: 10px solid $border;
  margin: 0 auto;
  width: 80%;
  height: 80%;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  .post-wrapper {
    position: relative;
    background-color: $postColor;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 100px;
    .post-magnet {
      width: 50px;
      position: absolute;
      top: -25px;
      right: 50%;
      transform: translateX(50%);
      height: 50px;
      border-radius: 50%;
      background-color: $magnet;
    }
    .post-name {
      .name__who {
        font-weight: 700;
        margin-right: 20px;
        color: $blue;
        font-size: 20px;
      }
    }
    .post-title {
      .title__title {
        font-weight: 700;
        margin-right: 30px;
        color: $blue;
        font-size: 20px;
      }
    }
    img {
      width: auto;
      height: auto;
      max-width: 300px;
      max-height: 300px;
      margin-bottom: 10px;
    }
    .post-content {
      height: 200px;
      overflow: auto;
      &::-webkit-scrollbar {
        width: 8px;
        background-color: white;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #959595;
        height: 10px;
      }
    }
    .button-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 10px;
      button {
        border: none;
        outline-style: none;
        background-color: $postColor;
        width: 50px;
        height: 40px;
        border-radius: 30%;
        color: $red;
        font-weight: 700;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      a:first-child {
        margin-right: 10px;
      }
    }
  }

  .post-Comments {
    color: white;
    width: 100%;
    .Comment__header {
      width: 100%;
      display: flex;
      justify-content: center;
      font-size: 20px;
    }
    .Comment__replies {
      width: 100%;
      height: 320px;
      margin-bottom: 20px;
      overflow: auto;
      font-size: 14px;
      border: 1px solid white;
      padding: 10px;

      &::-webkit-scrollbar {
        width: 10px;
        background-color: white;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #959595;
      }

      ul {
        padding: 0;
        display: flex;
        flex-direction: column;
        li {
          align-self: flex-end;
          border: 1px solid $blue;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          border-bottom-left-radius: 10px;
          padding: 5px;
          margin-bottom: 10px;
          width: -webkit-fit-content;
        }
        .comment-wrapper {
          display: flex;
          align-items: center;
          width: auto;
          li {
            align-self: flex-start;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 0px;
          }
          button {
            outline: none;
            background-color: $boardColor;
            color: $red;
            border: none;
          }
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .board-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    height: 170%;
    gap: 10px;
    padding: 10px;
    width: 90%;
    justify-items: center;
    .post-wrapper {
      margin-bottom: 0px;
      font-size: 14px;
      width: 80%;
    }
    .post-Comments {
      width: 80%;
    }
  }
}
