.upload {
  height: 70vh;
  form {
    width: 80%;
    height: 80%;
    textarea {
      height: 300px;
      margin-bottom: 10px;
    }
    .fileUpload {
      input:hover {
        background-color: $black;
      }
    }
  }
}

@media (max-width: 650px) {
  .upload {
    width: 90%;
    form {
      width: 100%;
      textarea {
        width: 100%;
      }
    }
  }
}
